<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
 <connectionStrings>
  <add name="Shop" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EShopping_Lab4;Integrated Security=True;Connect Timeout=10" providerName="System.Data.SqlClient" />
  <add name="Products" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EShopping_ProductMock;Integrated Security=True;Connect Timeout=10" providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings><add key="Student" value="Mai Việt Hoàng - MSSV 1250080058" /></appSettings>
</configuration>
